

 h1{

    color: red;
    background-color: gold;
}
p{
    color: green;
    background-color: aqua;
}
h4{
    color: black;
    background-color: red;
}
h6{
    color: blue;
    background-color: aquamarine;
}
 button{
    color: red;
    background-color: aqua;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 17px;
}
.register{
    color: red;
    background-color: blue;
}
.login{
    color: black;
    background-color: aquamarine;
}


.hello{
    color: aqua;
    background-color: bisque;
    height: 30px;
    width: 80px;
}
.read{
    color: red;
    background-color: black;
    height: 40px;
    width: 80px;
}
.singup{
    color: blue;
    background-color: blueviolet;
    height: 35px;
    width: 90px;
}

.logout{
    color: greenyellow;
    background-color: yellowgreen;
   
}
a{
   text-decoration: none; 
}

li{
    list-style: none;
}